{% extends 'base.html.twig' %}

{% block title %}Ajouter un Produit{% endblock %}

{% block body %}
    <h1>Ajouter un Nouveau Produit</h1>

    {{ form_start(formProduit) }}
        {{ form_row(formProduit.name) }}
        {{ form_row(formProduit.description) }}
        {{ form_row(formProduit.quantity) }}
        {{ form_row(formProduit.price) }}
        <button class="btn btn-primary">Ajouter</button>
    {{ form_end(formProduit) }}
{% endblock %}
